## Data Types

- En programación, el tipo de dato es un concepto muy importante

- Las variables pueden guardar datos de diferentes tipos, y diferentes tipos pueden hacer diferentes cosas

- Python tiene los siguientes tipo de datos clasificadas en las siguientes categorías:



| Clasificación | tipos de datos | 
|----------------|-----|
| Text Type	 | `str` | 
| Numeric Types	 | `int, float, complex` | 
| Sequence Types	 | `list, tuple, range` | 
| Mapping Type	 | `dict` | 
| Set Types	 | `set, frozenset` | 
| Boolean Types	 | `bool` | 
| Binary Types	 | `bytes, bytearray, memoryview` | 
| None Types	 | `NoneType` |

## Obteniendo el tipo de dato
- Se puede obtener el tipo de cualquier objeto usando la función `type()`

In [1]:
x = 5
print(type(x))

<class 'int'>

## Estableciendo el tipo de dato

- En python, el tipo de dato se establece en el momento en el que un valor se asigna a una variable

In [10]:
x = "Hello World"
print(type(x))
x = 20
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = range(6)
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = {"name" : "John", "age" : 36}
print(type(x))
x = {"apple", "banana", "cherry"}
print(type(x))
x = range(6)
print(type(x))
x = True
print(type(x))
x = None
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'range'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'range'>
<class 'bool'>
<class 'NoneType'>

## Especificar el tipo de dato

- Si se requiere especificar el tipo de dato, es posible con los siguientes comandos:

In [11]:
x = str("Hello World")
print(type(x))
x = int(20)
print(type(x))
x = float(20.5)
print(type(x))
x = complex(1j)
print(type(x))
x = list(("apple", "banana", "cherry"))
print(type(x))
x = range(6)
print(type(x))
x = tuple(("apple", "banana", "cherry"))
print(type(x))
x = dict(name="John", age=36)
print(type(x))
x = set(("apple", "banana", "cherry"))
print(type(x))
x = range(6)
print(type(x))
x = bool(5)
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'range'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'range'>
<class 'bool'>

In [2]:
x = ("apple", "banana", "cherry",'banana')
list(x)

['apple', 'banana', 'cherry', 'banana']

In [3]:
set(x)

{'apple', 'banana', 'cherry'}

In [8]:
set((1,"apple", "banana", "cherry",'banana'))

{1, 'apple', 'banana', 'cherry'}

In [10]:
(1,"apple", "banana", "cherry",'banana',4.5)

(1, 'apple', 'banana', 'cherry', 'banana', 4.5)

In [11]:
x

('apple', 'banana', 'cherry', 'banana')

In [12]:
x=list(x)
x

['apple', 'banana', 'cherry', 'banana']

In [13]:
x[0]

'apple'

In [14]:
x[0][0]

'a'